<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expenses List</title>

    <style>
        body {
           font-family: Arial, sans-serif;

        table {
            border-collapse: collapse;
            width: 80%;
            border: 2px solid black;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
            text-align: right;
        }
        th {
            background-color: #28a745;
        }
        h1 {
           text-align: top;
           color: #007bff;
       }

    </style>
</head>
    <tbody>
    <!--<div th:insert="~{fragments.html :: nav}"></div>-->
    <h1>Expenses List</h1>
    <div>
        <a th:href="@{/expenseForm}">Go to Expense Form</a>
    </div>
    <br>
    <table>
        <thead>
        <tr>
            <th>Expense ID</th>
            <th>Expense Date</th>
            <th>Expense Name</th>
            <th>Expense Amount</th>
            <th>Category</th>
        </tr>
        </thead>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.id}">1</td>
            <td th:text="${expense.expenseDate}">10/05/2025</td>
            <td th:text="${expense.expenseName}">Lidl shoping</td>
            <td th:text="${expense.expenseAmount}">525</td>
            <td th:text="${expense.expenseCategory}">Groceries</td>
        </tr>
    </table>
    </tbody>
</html>
