<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense Form</title>
</head>
<body>
<h1>Expense Form</h1>
<form th:action="@{/submitExpense}" th:object="${expense}" method="post">

    <div>
        <label for="id"> Expense ID</label>
        <input type="text" id="id" th:field="*{id}"/> <br/>
    </div>

    <div>
        <label for="date"> Expense Date</label>
        <input type="date" id="date" th:field="*{date}"/> <br/>
    </div>

    <div>
        <label for="name"> Expense Name</label>
        <input type="text" id="name" th:field="*{name}"/> <br/>
    </div>

    <div>
        <label for="amount"> Expense Amount</label>
        <input type="number" id="amount" th:field="*{amount}"/> <br/>
    </div>

    <div>
        <label for="category"> Expense Category</label>
        <input type="text" id="category" th:field="*{category}"/> <br/>
    </div>

    <div>
        <button type="submit">Save expense</button>
    </div>

    <div>
        <a th:href="@{/expenses}">Go to expenses list</a>
    </div>

</form>
</body>
</html>