<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Expense Form</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Expense Form</h1>
        <form th:action="@{/submitExpense}" th:object="${expense}" method="post">

        <div>
            <label for="expenseName">Expense Name</label>
            <input type="text" id="expenseName" th:field="*{expenseName}"/> <br/>
        </div>

        <div>
            <label for="expenseDate">Expense Date</label>
            <input type="date" id="expenseDate" th:field="*{expenseDate}"/> <br/>
        </div>

        <div>
            <label for="expenseAmount">Expense Amount</label>
            <input type="number" id="expenseAmount" th:field="*{expenseAmount}"/> <br/>
        </div>

        <div>
            <label for="expenseCategory">Expense Category</label>
            <select id="expenseCategory" th:field="*{expenseCategory}" required>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}">
                </option>
            </select> <br/>
        </div>

        <div>
            <button type="submit">Save</button>
        </div>

        <div>
            <a th:href="@{/expenses}">Go to Expenses List</a>
        </div>

        </form>
    </body>
</html>