<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Income Form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="container">
    <h1 class="title">Income Form</h1>

    <form th:action="@{/submitIncome}" th:object="${income}" method="post">
        <div>
            <label for="id">Income ID</label>
            <input type="text" id="id" th:field="*{id}"/> <br/>
        </div>

        <div>
            <label for="date">Income Date</label>
            <input type="date" id="date" th:field="*{date}"/> <br/>
        </div>

        <div>
            <label for="name">Income Name</label>
            <input type="text" id="name" th:field="*{name}"/> <br/>
        </div>

        <div>
            <label for="amount">Income Amount</label>
            <input type="number" id="amount" th:field="*{amount}"/> <br/>
        </div>

        <div>
            <label for="category">Income Category</label>
            <input type="text" id="category" th:field="*{category}"/> <br/>
        </div>

        <div>
            <button type="submit">Save Income</button>
        </div>

        <div>
            <a th:href="@{/incomes}">Go to Incomes List</a>
        </div>
    </form>
</div>

</body>
</html>
